
.hidden-bottom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(40%);
  transition: all .9s;
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-20%);
  transition: all .8s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(20%);
  transition: all .8s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0) translateY(0);
}



.stagger:nth-child(2) {
  transition-delay: 200ms;
}
.stagger:nth-child(3) {
  transition-delay: 400ms;
}
.stagger:nth-child(4) {
  transition-delay: 600ms;
}
.stagger:nth-child(5) {
  transition-delay: 800ms;
}
.stagger:nth-child(6) {
  transition-delay: 1000ms;
}
