
.navigation {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;

  &__logo-box {
    margin: 5rem 0 10rem 0;

    @media only screen and (max-width: $breakpoint-large) {
      margin-bottom: 15rem;
    }
    @media only screen and (max-width: $breakpoint-medium) {
      margin-bottom: 25vh;
    }
    @media only screen and (max-width: $breakpoint-small) {
      margin-bottom: 7rem;
    }
  }
  &__logo {
    width: 85%;
    height: auto;
  }

  &__group-1 {
    padding-bottom: 11vh;

    @media only screen and (max-width: $breakpoint-medium) {
      padding-bottom: 27vh;
    }
    @media only screen and (max-width: $breakpoint-small) {
      padding-bottom: 3rem;
    }
  }
  &__group-2 {
    padding-bottom: 5vh;

    @media only screen and (max-width: $breakpoint-small) {
        padding-bottom: 1rem;
    }
  }
  &__group-3 {

    & span {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.navbar {
  color: #151515;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 1rem 0;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  background-color: var(--color-background);
  border-left: 2px solid #151515;
  width: 24%;
  padding: 1.6rem;
  transform: translateX(100%);
  transition: all 0.2s ease;

  @media only screen and (max-width: $breakpoint-small) {
      width: 60%;
  }
}

.btn-close {
  background-color: var(--color-background);
  border: 3px solid black;
  border-radius: 50%;
  padding: 1rem;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  cursor: pointer;
  transition: color 0.5s ease;
}

.btn-close:hover {
  fill: #fff;
  background-color: #000;
}



.navbar-nav {
  margin: 4rem 0;
  list-style-type: none;
}

.nav-item {
  margin: 1.4rem 0;
  list-style-type: none;

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-size: 1.4rem;
  transition: color 0.5s ease;
  display: block;
}

.nav-link:hover {
  color: #000;
  transform: scale(1.01);
  font-weight: 300;
}

/* === show menu ===  */
.showMenu {
  transform: translateX(0);
}
